/Collection.class
/CollectionFactory.class
/Document.class
/DocumentExtractor.class
/FileDocument$ReaderWrapper.class
/FileDocument.class
/MSExcelDocument.class
/MSPowerPointDocument.class
/MSWordDocument.class
/PDFDocument.class
/POIDocument.class
/SimpleFileCollection.class
/SimpleMedlineXMLCollection.class
/SimpleXMLCollection$XMLDocument.class
/SimpleXMLCollection.class
/TaggedDocument.class
/Tokenizer.class
/TwitterJSONCollection.class
/TwitterJSONDocument.class
