/BasicIntegerCodingIterablePosting.class
/BlockFieldIntegerCodingIterablePosting.class
/BlockIntegerCodingIterablePosting.class
/FieldIntegerCodingIterablePosting.class
/IntegerCodingIterablePosting.class
