/MemoryDocumentIndexFields$DocumentIterator.class
/MemoryDocumentIndexFields$DocumentIterator2.class
/MemoryDocumentIndexFields.class
/MemoryDocumentIndexFieldsMap.class
/MemoryFields$TermProcessor.class
/MemoryFields.class
/MemoryFieldsIndex.class
/MemoryFieldsInvertedIndex$FieldsMemoryPostingList.class
/MemoryFieldsInvertedIndex.class
/MemoryFieldsIterablePosting.class
/MemoryFieldsLexiconEntry.class
