/EnglishTokeniser$EnglishTokenStream.class
/EnglishTokeniser.class
/IdentityTokeniser$1.class
/IdentityTokeniser.class
/TokenStream.class
/Tokeniser$1.class
/Tokeniser.class
/UTFTokeniser$UTFTokenStream.class
/UTFTokeniser.class
/UTFTwitterTokeniser$UTFTokenStream.class
/UTFTwitterTokeniser.class
