/GammaCodec.class
/IntegerCodec.class
/KamikazePForDeltaVBCodec.class
/LemireCodec.class
/LemireFORVBCodec.class
/LemireFastPFORVBCodec.class
/LemireNewPFDVBCodec.class
/LemireOptPFDVBCodec.class
/LemireSimple16Codec.class
/UnaryCodec.class
/VIntCodec.class
