/AccumulatorResultSet.class
/BaseMatching.class
/CollectionResultSet.class
/Matching.class
/MatchingQueryTerms$QueryTermProperties.class
/MatchingQueryTerms$StringQueryTermPropertiesByIndexComparator.class
/MatchingQueryTerms.class
/Model.class
/PostingListManager$PostingListManagerPlugin.class
/PostingListManager.class
/QueryResultSet.class
/ResultSet.class
